<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width = device-width, initial-scale = 1, user-scalable = no" />
	<title>{{project_name}}</title>

	<meta property="og:site_name" content="{{project_name}}" />
	<meta property="og:url" content="{{fullUrl}}" />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="{{baseUrl}}/assets/imgs/logo.svg" />

	{% block meta %}
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="{{project_name}} – Powered by Directus" />
	<meta property="og:title" content="{{project_name}}" />
	{% endblock %}

	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<link rel='shortcut icon' href='{{rootUrl}}assets/imgs/favicon.ico' type='image/x-icon' />
	<link rel="stylesheet" href="{{rootUrl}}assets/css/vendor/normalize.css">
	<link rel="stylesheet" href="{{rootUrl}}assets/css/main.css?v=1.0">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:500,700">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400i">

</head>
<body class="{% block bodyClass %}{% endblock %} text-sm text-sans">

	<!-- Preview Placard -->
	{% if global_preview %}
	<div class="global_preview"><a href="/preview.php?logout=true">PREVIEW</a></div>
	{% endif %}

	<!-- Header -->
	{% include 'header.twig.html' %}

	<!-- Body -->
	<div class="body">
		{% block content %}{% endblock %}
	</div>

	<!-- Footer -->
	{% include 'footer.twig.html' %}

	<!-- Javascript -->
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmNpZfwjrxJ0zHEwYxgQ0_eKyfSexbZdQ"></script>
	<script type="text/javascript" src="{{rootUrl}}assets/js/vendor/jquery.js"></script>
	<script type="text/javascript" src="{{rootUrl}}assets/js/vendor/jquery.event.move.js"></script>
	<script type="text/javascript" src="{{rootUrl}}assets/js/vendor/jquery.event.swipe.js"></script>
	<script type="text/javascript" src="{{rootUrl}}assets/js/vendor/unslider-min.js"></script>
	<script type="text/javascript" src="{{rootUrl}}assets/js/main.js"></script>

	<!-- Analytics -->

</body>
</html>