//////////////////////////////////////////////////////////////////////////////
// Misc

$imagePath: "../../../assets/imgs";

//////////////////////////////////////////////////////////////////////////////
// Colors

$white: #FFFFFF;
$black: #1A1A1A;
$gray: #666666;
$light-gray: #F9F9F9;
$lighter-gray: #EEEEEE;
$dark-gray: #333333;
$primary: #4CA6DE;

//////////////////////////////////////////////////////////////////////////////
// Spacing

$side-margins: 80px;

//////////////////////////////////////////////////////////////////////////////
// Timing

$timing-short: 200ms;

//////////////////////////////////////////////////////////////////////////////